body {
    font-family: cursive;
    background-image: url(../images/bg-0x03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.flag {
height: 10em;
position: relative 
}
.flag p{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) 
}

.glow {
font-size: 30px;
color: #fff;
text-align: center;
animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4415ee, 0 0 40px #4415ee, 0 0 50px #4415ee, 0 0 60px #4415ee, 0 0 70px #4415ee;
    }
    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #749de7, 0 0 40px #749de7, 0 0 50px #749de7, 0 0 60px #749de7, 0 0 70px #749de7, 0 0 80px #749de7;
    }
}