<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to DiagonAlley:)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-image: url(../static/images/bg-0x01.jpg);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    </head>

    <body>
        <div class="btncontainer">
            <button onclick="document.getElementById('id01').style.display='block'" class="startbtn start"><b>TAB TO START</b></button>
        </div>

        <div id="id01" class="modal">

            <form class="modal-content animate" action="/login" method="get">
                <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../static/images/wizard.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="uname"><b>Email</b></label>
                    <input type="text" placeholder="Email" name="Email" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                        
                    <button type="submit">Login</button>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>
            </form>
        </div>

        <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>
    </body>
</html>